---
import BaseLayout from "../../layouts/BaseLayout.astro"
import NavBar from "../../components/NavBar.astro"
---
<BaseLayout title="Sobre nosotros...">
    <h1>About</h1>
    
    <NavBar></NavBar>
</BaseLayout>
