---
import BaseLayout from "../layouts/BaseLayout.astro"
import NavBar from "../components/NavBar.astro"
---

<BaseLayout title="Página principal" description="Esta es mi página principal donde muestro todo lo relevante al sitio web">
	<h1>Astro - Página Principal</h1>

	<NavBar></NavBar>
	
</BaseLayout>
	

